{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}


        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'user.id')  }}</th>
                <th>{{ knp_pagination_sortable(pagination,'user.email'|trans, 'user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'user.nick'|trans, 'user.nick') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'user.roles'|trans, 'user.roles') }}</th>
                <th>{{ 'action.edit'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items%}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.nick }}</td>
                    {% if 'ROLE_ADMIN' in user.roles%}
                        <td>{{ 'label.admin'|trans }}</td>
                    {% else %}
                        <td>{{ 'label.user'|trans }}</td>
                    {% endif %}
                    <td>
                    <p>
                        {% if is_granted('EDIT', user) %}
                        <a href="{{ url('profile_edit', {id: user.id}) }}" class="btn btn-outline-success" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        {% endif %}

                        {% if is_granted('EDIT_PASSWORD', user) %}
                        <a href="{{ url('password_edit', {id: user.id}) }}" class="btn btn-outline-primary" title="{{ 'action.password_edit'|trans }}">
                            {{ 'action.password_edit'|trans }}
                        </a>
                        {% endif %}

                        {% if is_granted('DELETE', user) %}
                        <a href="{{ url('user_delete', {id: user.id}) }}" class="btn btn-outline-danger" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                        {% endif %}

                        {% if is_granted('VIEW', user) %}
                        <a href="{{ url('user_show', {id: user.id}) }}" class="btn btn-outline-warning" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        {% endif %}
                    </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}