{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.publishing_house_info_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.publishing_house_info_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'publishingHouseInfo.id')  }}</th>
                <th>{{ knp_pagination_sortable(pagination,'label.title'|trans, 'publishingHouseInfo.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'label.create'|trans, 'authorInfo.create') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'label.actions'|trans, 'publishingHouseInfo.actions') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'label.editing'|trans, 'publishingHouseInfo.editing') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'label.delete'|trans, 'publishingHouseInfo.delete') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for publishingHouseInfo in pagination.items%}
                <tr>
                    <td>{{ publishingHouseInfo.id }}</td>
                    <td>{{ publishingHouseInfo.name }}</td>
                    <td>
                        <a class="btn btn-outline-info" href="{{ url('publishing_house_info_create', {id: publishingHouseInfo.id}) }}" title="{{ 'action.create'|trans }}">
                            {{ 'action.create'|trans }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ url('publishing_house_info_show', {id: publishingHouseInfo.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="{{ url('publishing_house_info_edit', {id: publishingHouseInfo.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="{{ url('publishing_house_info_delete', {id: publishingHouseInfo.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}