{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.sign_up'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.sign_up'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.sign_up'|trans }}" class="btn btn-primary"/>
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('app_login') }}" class="btn btn-link">
            {{ 'action.back_to_login'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}