{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.reserve'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.reserve'|trans({'%id%': book.id|default('')}) }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group row float-sm-right">
            <input type="submit" value="{{ 'action.reserve'|trans }}" class="btn btn-primary" />
        </div>
        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
        {{ form_end(form) }}
{% endblock %}