{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.reservations_list'|trans }}
{% endblock %}

{% block body %}
<h1>{{ 'title.reservations_list'|trans }}</h1>
{% if pagination is defined and pagination.items|length %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'reservation.id')  }}</th>
        <th>{{ knp_pagination_sortable(pagination,'label.email'|trans, 'reservation.name') }}</th>
        <th>{{ knp_pagination_sortable(pagination,'label.reservation_time'|trans, 'reservation.ReservationTime') }}</th>
        <th>{{ knp_pagination_sortable(pagination,'label.comment'|trans, 'reservation.comment') }}</th>
        <th>{{ knp_pagination_sortable(pagination,'label.title'|trans, 'book.title') }}</th>
        <th>{{ knp_pagination_sortable(pagination,'label.StatusInfo'|trans, 'reservation.ReservationStatus.StatusInfo') }}</th>
        <th>{{ knp_pagination_sortable(pagination,'label.manage'|trans, 'actions.manage') }}</th>

    </tr>
    </thead>
    <tbody>
    {% for reservation in pagination.items%}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.email }}</td>
            <td>{{ reservation.ReservationTime|date('d/m/Y') }}</td>
            <td>{{ reservation.comment }}</td>
            <td>{{ reservation.book.title }}</td>
            <td>{{ reservation.ReservationStatus.StatusInfo }}</td>
            <td>
                <a class="btn btn-outline-success" href="{{ url('reservations_manage', {id: reservation.id}) }}" title="{{ 'action.manage'|trans }}">
                    {{ 'action.manage'|trans }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

{% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>
{% endif %}
{% endblock %}